.dashboard{

position:relative;

height:100vh;

display:grid;

grid-template-columns:
320px
1fr
340px;

align-items:center;

padding-top:90px;

z-index:5;
}

.left-panel{

display:flex;
flex-direction:column;

gap:25px;

padding-left:40px;
}

.center-panel{

display:flex;
justify-content:center;
align-items:center;
align-self:stretch;
}

.message-panel{

height:65vh;

padding-right:40px;
}

.message-box{

overflow:auto;

padding:20px;

background:
rgba(0,0,0,.35);

border-radius:25px;

backdrop-filter:blur(12px);

border:
1px solid rgba(255,255,255,.1);
}
