openai>=1.14.0
selenium>=4.18.1
webdriver-manager>=4.0.1
pyautogui>=0.9.54
keyboard>=0.13.5
pycaw>=20230407
screen-brightness-control>=0.21.0
psutil>=5.9.8
pywin32>=306
rapidfuzz>=3.6.2
wmi>=1.5.1
requests>=2.31.0
python-dotenv>=1.0.1
rich>=13.7.1
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
Flask
livekit-api
send2trash
schedule
pygetwindow
